services:

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: vote_x_web
    command: gunicorn vote_x_backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app        # live code sync for development
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    container_name: vote_x_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # ports:
    #   - "5432:5432"  # expose DB for pgAdmin or local access

  redis:
    image: redis:7
    container_name: vote_x_redis
    restart: always
    # ports:
    #   - "6379:6379"

volumes:
  postgres_data:
